{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load custom_filters %}

{% block stylesheets %}

<link href="{% static 'css/bootstrap/bootstrap-table/extensions/editable/bootstrap-editable.css'%}" rel="stylesheet">
<link href="{% static 'css/bootstrap/simple-sidebar/simple-sidebar.css'%}" rel="stylesheet">
<link href="{% static 'inventario/css/showLocalDBTableColumns.css'%}" rel="stylesheet">
<style>
.ui-autocomplete {
    z-index: 5000;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 200px;
  }
</style>
{% endblock %}



{% block javascripts %}

<script type="text/javascript" src="{% static 'js/jquery.qrcode-0.12.0.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-table/extensions/export/bootstrap-table-export.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-table/extensions/export/tableExport.js' %}"></script> -->
{% endblock %}


{% block toggle_sidebar %}

<li id="showRapidSearch"><a href="#" ><b>Ricerca Rapida</b></a></li>
{% if user.is_authenticated %}
<li><a><b> Benvenuto {% if user.first_name and user.last_name %} {{ user.first_name}} {{ user.last_name }} {% else %} {{user.username}} {% endif %}</b></a></li>
{% endif %}

{% endblock %}


{% block body %}
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a id="hideRapidSearch" href="#">
                    Ricerca rapida
                </a>
            </li>
            <!--  Ubicazioni  -->
              <li>
                  <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Ubicazioni</a>
                  <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                  {% for l in locations %}
                      <li ><a style="line-height:10px" href="#" title="{{l}}" onClick="ricognizioneInventarialeLocationSearch('{{l|escapejs}}')">{{l}}</a></li>
                  {%endfor%}
                  </ul>    
              </li>
            <!--  Ubicazioni Precise  -->
            <li>
                <a href="#" id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">Ubicazioni Precise</a>
                <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-2">
                {% for al in accurateLocations %}
                    <li ><a style="line-height:10px" href="#" title="{{al}}" onClick="ricognizioneInventarialeAccurateLocationSearch('{{al|escapejs}}')">{{al}}</a></li>
                {%endfor%}
                </ul>    
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    
    <div class="container col-xs-12" style="height:100%">

        <div id="toolbar">
            <div class="btn-group" role="group">
              <button type="button"
                      id="createRicInvModalBtn" 
                      class="btn btn-default"
                      title="Inserisci una nuova ricognizione inventariale"
                      >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>

            <div class="btn-group" role="group">
              <button type="button"
                      id="newInvCode" 
                      class="btn btn-default"
                      onClick="showNewInvCodeDiv()"
                      title="Inserisci un nuovo codice inventariale"
                      >
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
              </button>
            </div>
            <div id="newInvCodeDiv" class="btn-group" role="group" style="display:none">
                <div class="input-group">
                    <input id="newInvCodeCd" type="text" class="form-control" placeholder="Codice"/>
                    <span class="input-group-addon">-</span>
                    <input id="newInvCodeDs" type="text" class="form-control" placeholder="Descrizione"/>
                    <span class="input-group-btn">
                         <button class="btn btn-default" type="button" onClick="addInvCode()"><b>ok</b></button>
                    </span>
                </div>
            </div>
            <div class="btn-group" role="group">
              <button type="button"
                      class="btn btn-default"
                      onClick="showNewAccLocationDiv()"
                      title="Nuovo locale"
                      >
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              </button>
            </div>
            <div id="newAccLocationDiv" class="btn-group" role="group" style="display:none">
                <div class="btn-group" role="group">
                    <input type="text" class="form-control" id="newAccLocationText" placeholder="Nuovo locale...">
                </div>
                <div class="btn-group" role="group">
                  <button type="button"
                          class="btn btn-default"
                          onClick="addLocation()"
                          >
                    <!-- <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> -->
                  <b>ok</b>
                  </button>
                </div>
            </div>
            <div class="btn-group" role="group">
              <button type="button"
                      class="btn btn-default"
                      onClick="$('#advancedSearchModal').modal();"
                      title="Ricerca Avanzata"
                      >
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button"
                      class="btn btn-default"
                      onClick="ricognizioneInventarialeClearFilters();"
                      title="Rimuovi i filtri"
                      >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
        </div>

        <div class="table-responsive">
                <table id="table"
                       data-locale="it-IT"
                       data-toolbar="#toolbar"
                       data-search="true"
                       data-show-refresh="false"
                       data-show-toggle="false"
                       data-show-columns="true"
                       data-show-export="true"
                       data-detail-view="true"
                       data-detail-formatter="detailFormatter"
                       data-minimum-count-columns="2"
                       data-show-pagination-switch="false"
                       data-pagination="true"
                       data-id-field="id"
                       data-page-size="25"  
                       data-page-list="[1, 10, 25, 50, 100, Tutto]"
                       data-show-footer="false"
                       data-side-pagination="server"
                       data-url="/inventario/table/getRicognizioniData"
                       data-response-handler="responseHandler">
                </table>
        </div>
        
        <!-- Create RecInv -->
        <div class="modal fade" id="createRicInvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          {% include "inventario/RicognizioneInventariale/create.html" %}
        </div>

        <!-- Delete RecInv -->
        <div id="deleteRicInvModal" class="modal fade" role="dialog">
          {% include "inventario/RicognizioneInventariale/delete.html" %}
        </div>

        <!-- Advanced Search -->
        <div id="advancedSearchModal" class="modal modal-wide fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ricerca Avanzata</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <form name="advancedRicognizioneInventarialeSearchForm" action="{% url "inventario.views.advancedRicognizioneInventarialeSearch" %}" method="post">
                                {% csrf_token %}
                                <p>{{ asform.non_field_errors }}</p>

                                <!-- ID -->
                                <p>{{ asform.min_id.errors }}</p>
                                <p>{{ asform.max_id.errors }}</p>
                                <div class="col-xs-12"><p><div class="col-xs-6">{{ asform.min_id.label_tag }} {{ asform.min_id.help_text }}{% render_field asform.min_id class+="form-control" %}</div><div class="col-xs-6">
                                {{ asform.max_id.label_tag }} {{ asform.max_id.help_text }}{% render_field asform.max_id class+="form-control" %}</div></p></div>
                                <!-- codice inventario -->
                                <div class="col-xs-12" style="margin-top:20px;padding-left:2.5%;padding-right:2.5%"><p>{{ asform.codice_inventario.label_tag }} {{ asform.codice_inventario.help_text }}{{ asform.codice_inventario.errors }}</p>
                                <div class="col-xs-12" style="padding-left:1%;padding-right:1%">
                                <ul class="list-group row">
                                {% for c in asform.codice_inventario %}
                                <li class="list-group-item col-xs-3" title="{{lista_codici | get_item:c.choice_label}}">{{ c }}</li>
                                {% endfor %}
                                </ul></div></div>
                                <!-- numero inventario -->
                                <p>{{ asform.min_pg_bene.errors }}</p>
                                <p>{{ asform.max_pg_bene.errors }}</p>
                                <div class="col-xs-12"><p><div class="col-xs-6">{{ asform.min_pg_bene.label_tag }} {{ asform.min_pg_bene.help_text }}{% render_field asform.min_pg_bene class+="form-control" %}</div><div class="col-xs-6">
                                {{ asform.max_pg_bene.label_tag }} {{ asform.max_pg_bene.help_text }}{% render_field asform.max_pg_bene class+="form-control" %}</div></p></div>
                                <!-- descrizione bene -->
                                <div class="col-xs-12" style="padding-left:2.5%;padding-right:2.5%;">
                                  <p>
                                      <p>{{ asform.ds_bene.errors }}</p>
                                      <p>{{ asform.ds_bene.label_tag }} {{ asform.ds_bene.help_text }} {% render_field asform.ds_bene class+="form-control" %}</p>
                                  </p>
                                </div>
                                <!-- possessore -->
                                <div class="col-xs-12" style="padding-left:2.5%;padding-right:2.5%;">
                                  <p>
                                      <p>{{ asform.possessore.errors }}</p>
                                      <p>{{ asform.possessore.label_tag }} {{ asform.possessore.help_text }} {% render_field asform.possessore class+="form-control" %}</p>
                                  </p>
                                </div>
                                <!-- ubicazione -->
                                <div class="col-xs-12" style="padding-left:2.5%;padding-right:2.5%;">
                                  <p>
                                      <p>{{ asform.ubicazione.errors }}</p>
                                      <p>{{ asform.ubicazione.label_tag }} {{ asform.ubicazione.help_text }} {% render_field asform.ubicazione class+="form-control" %}</p>
                                  </p>
                                </div>
                                <!-- ubicazione precisa -->
                                <div class="col-xs-12" style="padding-left:2.5%;padding-right:2.5%;">
                                  <p>
                                      <p>{{ asform.ubicazione_precisa.errors }}</p>
                                      <p>{{ asform.ubicazione_precisa.label_tag }} {{ asform.ubicazione_precisa.help_text }} {% render_field asform.ubicazione_precisa class+="form-control" %}</p>
                                  </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="advancedSearchRicInv()">Cerca</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Advanced Search -->

    </div>
    <!-- /#container -->
</div>
<!-- /#wrapper -->
{% endblock %}



{% block scripts %}
<script type="text/javascript">
    var AccurateLocationsList = [];     // the list with the parsed JSON needed by the editable plugin
    var AccurateLocationsArray = [];    // the array containing key-value elements to display when the row is expanded

    // the function parse the JSON data in the above 2 formats
    getAccurateLocationList(AccurateLocationsList, AccurateLocationsArray);  

    var $table = $('#table'),
            selections = [];

    function initTable() {

        $table.bootstrapTable({
            height: getHeight(),
            columns: [
                [
                //    {
                //        field: 'state',
                //        checkbox: true,
                //        align: 'center',
                //        valign: 'middle'
                //    },
                {
                    field: 'operate',
                    title: 'azioni',
                    class: 'actions',
                    align: 'center',
                    events: operateEvents,
                    formatter: operateFormatter
                }, {
                    field: 'id',
                    title: 'ID',
                    class: 'id',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'inventario',
                    title: 'inventario',
                    formatter : 'cdinventFormatter',
                    class: 'inventario',
                    sortable: true,
                    align: 'center'
                },{
                    field: 'pg_bene',
                    title: 'numero inventario',
                    formatter: 'numeroInventarioFormatter',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'ds_bene',
                    title: 'descrizione bene',
                    class: 'ds_bene',
                    sortable: true,
                    align: 'center'
                }, 
                {
                    field: 'ds_spazio',
                    title: 'edificio',
                    class: 'ds_spazio',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'possessore',
                    title: 'possessore',
                    class: 'possessore',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'nuovo_possessore',
                    title: 'nuovo possessore',
                    formatter: 'nuovoPossessoreFormatter',
                    class: 'nuovo_possessore',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'inserito_da',
                    title: 'Inseritore',
                    //formatter: 'nuovoPossessoreFormatter',
                    class: 'inserito_da',
                    sortable: true,
                    align: 'center'
                },{
                    field: 'note',
                    title: 'note',
                    formatter: 'noteFormatter',
                    class: 'note',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'ubicazione_precisa',
                    title: 'locale',
                    class: 'ubicazione_precisa',
                    formatter : 'accurateLocationsFormatter',
                    //editable: {
                    //    type: 'select',
                    //    inputclass: 'accurate-location-select',
                    //    source: AccurateLocationsList,
                    //    title: 'Nuovo Locale',
                    //    validate: function (value) {
                    //        value = $.trim(value);
                    //        if (!value) return 'This field is required';
                    //    },
                    //    url: '/inventario/table/editable/editAccurateLocation',
                    //    params: { csrfmiddlewaretoken:'{{csrf_token}}'},
                    //},
                    sortable: true,
                    align: 'center'
                }, 
                ]
            ]
        });

        // sometimes footer render error.
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);

        // handler check, unckeck
        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {

            // save your data, here just save the current page
            selections = getIdSelections();
            // push or splice the selections if you want to save all data selections
        });
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
        });

        // resize handler
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    }

    // which rows are selected
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    // put the data in the table
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    // handles the text formattation when the row is open
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            // if we're displaying the accurate location we must match the id with the actual text value
            if(key == 'inventario')
                html.push('<p><b>Codice Inventario:</b> ' + cdinventFormatter(value) + '</p>');
            else if (key == 'ds_invent');
            else if (key == 'pg_bene')
                html.push('<p><b>Numero inventario:</b> ' + numeroInventarioFormatter(value, row, index) + '</p>');
            else if (key == 'pg_bene_sub');
            else if (key == 'ds_bene') 
                html.push('<p><b>Descrizione:</b> ' + value + '</p>');
            else if (key == 'ds_spazio')
                html.push('<p><b>Edificio:</b> ' + value + '</p>');
            else if (key == 'possessore')
                html.push('<p><b>Possessore:</b> ' + value + '</p>');
            else if (key == 'nuovo_possessore')
                html.push('<p><b>Nuovo possessore:</b> ' + nuovoPossessoreFormatter(value, row, index) + '</p>');
            else if (key == 'inserito_da')
                html.push('<p><b>Inseritore:</b> ' + value + '</p>');
            else if (key == 'note')
                html.push('<p><b>Note:</b> ' + noteFormatter(value, row, index) + '</p>');
            else if (key == 'ubicazione_precisa')
                html.push('<p><b>Note:</b> ' + accurateLocationsFormatter(value) + '</p>');
            // we need to show the render the immagine based on the filepath
            else if(key == 'immagine')
                if ( value != "")
                    html.push('<p><b>' + key + ':</b></p><p><img style="max-width:100px;max-height:100px" src="/inventario/media/' + value + '"></p>');
                else
                    html.push('<p><b>' + key + ': </b><a class="text-left text-danger">non disponibile</a></p>');
            // we hide the state 
            else if (key == 'state'){}
            else
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }


    function operateFormatter(value, row, index) {
        return [
            '<a class="Modify" href="javascript:void(0)" title="Modifica">',
            '<i class="glyphicon glyphicon glyphicon-edit"></i>',
            '</a>  ',

            '<a class="Delete" href="javascript:void(0)" title="Cancella">',
            '<i class="glyphicon glyphicon glyphicon-trash"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .Modify': function (e, value, row, index) {
            // get a populated form
            editRicinv(row.id);
        },
        'click .Delete': function (e, value, row, index) {
            deleteRicinv(row.id);
            $('#deleteRicInvModal').modal();
        }
    };

    function editRicinv(id) {
        url = '{% url "inventario.views.ricognizioneInventarialeEditView" %}' + "?id=" + id;
        urlNoLabel = '{% url "inventario.views.ricognizioneInventarialeEditNoLabelView" %}' + "?id=" + id;
        
        $('#tabLabel-form').trigger("reset");
        $('#tabNoLabel-form').trigger("reset");

        $.ajax({ 
            type: 'GET', 
            url: url, 
            dataType: 'json',
            success: function (data) { 
                $.each(data.results, function(index, element) {
                  $('.edit_ds_bene').val(element[0]);
                  $('.edit_possessore').val(element[1]);
                  if (element[2] != null && element[2] != "") $('.edit_nuovo_possessore').val(element[2]);
                  if (element[3] != null && element[3] != "") $('.edit_inserito_da').val(element[3]);
                  if (element[4] != null && element[4] != "") $('.edit_inventario').val(element[4]);
                  if (element[5] != null && element[5] != -1) $('.edit_pg_bene').val(element[5]); else $('.edit_pg_bene').val(""); 
                  if (element[6] != null && element[6] != -1) $('.edit_pg_bene_sub').val(element[6]); else $('.edit_pg_bene_sub').val(""); 
                  $('.edit_ds_spazio').val(element[7]);
                  if (element[8] != null && element[8] != "") $('.edit_ubicazione_precisa').val(element[8]);
                  if (element[9] != null && element[9] != "") $('.edit_note').val(element[9]);
                
                  if (element[5] != null && element[5] != -1)
                     $('#tabLabel').find('a').trigger('click');
                  else
                     $('#tabNoLabel').find('a').trigger('click');
                });

                $('#createRicInvModalLabel').html("Ricognizione Inventariale - Modifica")
                $('#tabLabel-form').attr('action', url);
                $('#tabNoLabel-form').attr('action', urlNoLabel);
                $('#save-button').text('Modifica');

                $('#createRicInvModal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
        });
    }

    function deleteRicinv(id) {

        url = '{% url "inventario.views.ricognizioneInventarialeDeleteView" %}' + "?id=" + id;
        $.ajax({ 
            type: 'GET', 
            url: url, 
            dataType: 'html',
            success: function (data) { 
                $('#deleteRicInvModal').html(data);

                // append the id to the form action
                action = $('#ricinv_delete_form_id').attr('action');
                action = action + "?id=" + id;
                $('#ricinv_delete_form_id').attr('action', action);

                // bind the click event of the button
                var form = document.getElementById("ricinv_delete_form_id");

                document.getElementById("delete_submit_btn_id").addEventListener("click", function () {
                  form.submit();
                });
            }
        });

    }

    function getHeight() {
        return $(window).height() - $('#navbar1').outerHeight(true);
    }

    function showSingleItem(value, row) {
        return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
    }

    function numeroInventarioFormatter(value, row) {
        // return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
        response = "<a class=\"text-left text-danger\">non disponibile</a>";
        if (row.pg_bene != "-1" && row.pg_bene_sub != "-1")
          response = row.pg_bene + " - " + row.pg_bene_sub;
        return response
    }

    function nuovoPossessoreFormatter(value, row) {
        // return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
        response = "<a class=\"text-left text-danger\">non disponibile</a>";
        if (row.nuovo_possessore != null && row.nuovo_possessore != "")
          response = row.nuovo_possessore;
        return response
    }

    function noteFormatter(value, row) {
        // return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
        response = "<a class=\"text-left text-danger\">non disponibile</a>";
        if (row.note != null && row.note != "")
          response = row.note;
        return response
    }

    function categoriaFormatter(value, row) {
        // return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
        return row.cd_categ_gruppo + " - " + row.ds_categ_gruppo;
    }

    function cdinventFormatter(value, row) {
        // return "<a href='/inventario/show/" + row.id + "'>" + value + "</a>";
        response = "<a class=\"text-left text-danger\">non disponibile</a>";
        if (value != null && value != "None")
          response = value;
        return response
    }

    function accurateLocationsFormatter(value) {
      response = "<a class=\"text-left text-danger\">non disponibile</a>";
      if (value != null && value != "None")
        response = AccurateLocationsArray[value];
      return response
    }

    $(function () {
        var scripts = [
                    location.search.substring(1) || 
                    "{% static 'js/bootstrap/bootstrap-table/bootstrap-table.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/editable/bootstrap-editable.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/export/bootstrap-table-export.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/export/tableExport.js' %}"

                ],
                eachSeries = function (arr, iterator, callback) {
                    callback = callback || function () {
                            };
                    if (!arr.length) {
                        return callback();
                    }
                    var completed = 0;
                    var iterate = function () {
                        iterator(arr[completed], function (err) {
                            if (err) {
                                callback(err);
                                callback = function () {
                                };
                            }
                            else {
                                completed += 1;
                                if (completed >= arr.length) {
                                    callback(null);
                                }
                                else {
                                    iterate();
                                }
                            }
                        });
                    };
                    iterate();
                };

        eachSeries(scripts, getScript, initTable);
    });

    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;

        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function () {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();

                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };

        head.appendChild(script);

        // We handle everything using the script element injection
        return undefined;
    }

    function getAccurateLocationList (ALL, ALA) {
        url = '/inventario/table/editable/getAccurateLocationList';
        items = [];
        $.ajax({ 
            type: 'GET', 
            url: url, 
            dataType: 'json',
            success: function (data) { 
                $.each(data, function(index, element) {
                        // alert("id= " + element.value + " value= " + element.text);
                        item = { value: element.value, text: element.text };
                        ALL.push(item);
                        ALA[element.value] = element.text;
                });
            }
        });
    }

    // mostra/nasconde l'input per aggiungere una nuova posizione
    function showNewAccLocationDiv () {
        if ($("#newAccLocationDiv").is(":visible")==false) $("#newAccLocationDiv").show();
        else $("#newAccLocationDiv").hide();
    }

    // mostra/nasconde l'input per aggiungere un nuovo codice inventariale
    function showNewInvCodeDiv () {
        if ($("#newInvCodeDiv").is(":visible")==false) $("#newInvCodeDiv").show();
        else $("#newInvCodeDiv").hide();
    }

    // chiamata ajax per salvare la nuova posizione nel DB ricarica la pagina al success per aggiornare la lista delle posizioni
    function addLocation () {
        // alert($("#newAccLocationText").val());
        nuovaUbicazione = $("#newAccLocationText").val();
        $.ajax({
            type: "POST",
            url: '/inventario/table/editable/addAccurateLocation',
            data: ({ nuovaUbicazione : nuovaUbicazione, csrfmiddlewaretoken:'{{csrf_token}}' }),
            success: function(result) {
                // alert('Nuovo locale aggiunto');
                location.reload();
                // $('#table').bootstrapTable('refresh');
            },
            error: function() {
                alert('Error occured');
            }
        });
    }

    // chiamata ajax per salvare il nuovo codice nel DB ricarica la pagina al success per aggiornare la lista dei codici
    function addInvCode () {
        newInvCodeCd = $("#newInvCodeCd").val(); // codice
        newInvCodeDs = $("#newInvCodeDs").val(); // descrizione
        if (newInvCodeCd.length > 0 && newInvCodeDs.length > 0) {
          $.ajax({
              type: "POST",
              url: '{% url "inventario.views.addCodiceInventario" %}',
              data: ({ newInvCodeCd : newInvCodeCd, 
                newInvCodeDs : newInvCodeDs,
                csrfmiddlewaretoken:'{{csrf_token}}' }),
              success: function(result) {
                  location.reload();
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  alert('ERRORE' + " " + errorThrown);
              }
          });          
        }
        else
        {
          alert("Inserisci un codice ed una descrizione validi");
        }
    }

</script>

<!-- scripts to manage QrCodes -->
<script type="text/javascript" src="{% static 'inventario/js/inventarioLocale/QrCodeScripts.js'%}"></script>
<!-- script to manage the quick search -->
<script type="text/javascript" src="{% static 'inventario/js/inventarioLocale/QuickSearch.js'%}"></script>
<!-- script to manage the advanced search -->
<script type="text/javascript" src="{% static 'inventario/js/inventarioLocale/AdvancedSearchRicInv.js'%}"></script>
<!-- script to manage the table export -->
<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>

<script type="text/javascript">
$( document ).ready(function() {
    $( "#ricInvLink" ).addClass( "active" );
    $(".required").prop('required',true);

    // autocomplete width according to the parent
    jQuery.ui.autocomplete.prototype._resizeMenu = function () {
      var ul = this.menu.element;
      ul.outerWidth(this.element.outerWidth());
    }

    $("#id_pg_bene").val("");
    $("#id_pg_bene_sub").val("");

    $("#createRicInvModalBtn").click(function() {

      $('#createRicInvModalLabel').html("Ricognizione Inventariale - Crea")
      $('#tabLabel-form').trigger("reset");
      $('#id_pg_bene').val("");
      $('#id_pg_bene_sub').val("");

      $('#tabNoLabel-form').trigger("reset");
      $('#tabLabel-form').attr('action', '{% url "inventario.views.ricognizioneInventarialeCreateView" %}');
      $('#tabNoLabel-form').attr('action', '{% url "inventario.views.ricognizioneInventarialeCreateNoLabelView" %}');
      $('#save-button').text('Crea');
      
      $('#tabLabel').find('a').trigger('click');

      $('#createRicInvModal').modal({
          backdrop: 'static',
          keyboard: false
      });   
    });

    $("#save-button").click(function() {
        var id = $(".mytabs.active")[0].id;
        var $myForm = $("#" + id + "-form");
        $myForm.find(':submit').click()
    });

    $('#div_id_nuovo_possessore').hide();
    
    $('#id_btn_nuovo_possessore').click(function show_nuovo_possessore(argument) {
      $('#div_id_nuovo_possessore').slideDown();
    });

    // autocomplete possessori
    var autocomplete = function(element, data) {
      element.autocomplete({
        // gets the data source from the server
        source: function( request, response ) {
          var url = '/inventario/ricinv/getPossessori';
          $.ajax({ 
              type: 'GET', 
              url: url, 
              dataType: 'json',
              data:{term : request.term},
              success: function (data) { 
                  var possessori = [];
                  var i = 0;
                  // parse the JSON into a string Array
                  $.each(data.results, function(index, element) {
                      var possessore = "" + element['NOME'] + " " + element['COGNOME'];
                      possessori[i] = possessore;
                      i++;
                  });
                  response(possessori);
              }
          });
        },
      });
    }

    autocomplete($('.autocomplete_possessore'));

    // autocomplete beni
    $( '#id_pg_bene' ).autocomplete({
      // gets the data source from the server
      source: function( request, response ) {
        var url = '/inventario/ricinv/getBeniForRicInve';
        $.ajax({ 
            type: 'GET', 
            url: url, 
            dataType: 'json',
            data:{term : request.term},
            success: function (data) { 
                var beni = [];
                var i = 0;
                // parse the JSON into an Object Array
                $.each(data.results, function(index, element) {
                        var bene = {
                          ds_bene : element[0],
                          nome : element[1],
                          cognome : element[2],
                          inventario : element[3],
                          ds_invent : element[4],
                          pg_bene : element[5],
                          pg_bene_sub : element[6],
                          ds_spazio : element[7],
                          ubicazione_precisa : element[8]
                        };
                        beni[i] = bene;
                        i++;
                });
                // matches every item of the array with the search term
                var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                response($.grep(beni, function(value) {
                    // for each object returns only pg_bene
                    return matcher.test(value.pg_bene);
                }));
            }
        });
      },
    // triggered when an item of the list is selected
    select: function(event, bene) {
        // fill the form with the received data
        $('#id_ds_bene').val(bene.item.ds_bene);
        $('#id_possessore').val((bene.item.nome + ' ' + bene.item.cognome).trim());
        $('#id_inventario').val(bene.item.inventario);
        $('#id_pg_bene').val(bene.item.pg_bene);
        $('#id_pg_bene_sub').val(bene.item.pg_bene_sub);
        $('#id_ds_spazio').val(bene.item.ds_spazio);
        $('#id_ubicazione_precisa').val(bene.item.ubicazione_precisa);
        return false;
    }
    })
    // custom render of the items, we only need ID and description
    .data('uiAutocomplete')._renderItem = function(ul, item) {
    return $('<li></li>')
        .data('item.autocomplete', item)
        .append('<a>' + item.pg_bene + ' ' + item.ds_bene + '</a>')
        .appendTo(ul);
    };

});
</script>
{% endblock %}
