{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link href="{% static 'css/bootstrap/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-table/bootstrap-table.css'%}" rel="stylesheet">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static 'registration/css/signin.css' %}" rel="stylesheet">
    
    {% block stylesheets %}
    {% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static 'css/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/bootstrap/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/footable/footable.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/footable/footable.sort.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/footable/footable.filter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/footable/footable.paginate.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qrcode-0.12.0.min.js' %}"></script>
    <!-- put your locale files after bootstrap-table.js -->
    <script src="{% static 'locale/bootstrap/bootstrap-table/bootstrap-table-it-IT.js' %}"></script>
</head>

<body>

<div class="container">

<form class="form-signin" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <h1>Inventario Unicam</h1>
  <div class="form-signin-inner">
  {% block title %}<h2>{% trans 'Log in' %}</h2>{% endblock %}
  {% if form.errors and not form.non_field_errors %}
    <div class="alert alert-danger">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </div>
  {% endif %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  <div class="form-group">
    {{ form.username.label_tag }}
    <p class="text-danger">{{ form.username.errors|striptags }}</p>
        <!-- username -->
      <label for="inputUsername" class="sr-only">{% render_field form.username.label %}</label>
      <p class="help-block">{% render_field form.username.help_text %}</p>
      {% render_field form.username required+="true" autofocus+="true" type+="username" id+="inputUsername" class+="form-control" placeholder+="nome utente" %}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}
    <p class="text-danger">{{ form.password.errors|striptags }}</p>
      <!-- password -->
      <label for="inputPassword" class="sr-only">{% render_field form.password.label %}</label>
      <p class="help-block">{% render_field form.password.help_text %}</p>
      {% render_field form.password required+="true" type+="password" id+="inputPassword" class+="form-control" placeholder+="password" %}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="form-group">
    <div class="controls col-sm-offset-2 col-sm-10">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
  </div>
  {% endif %}
  <div class="form-actions clearfix">
    <div class="col-xs-6"><input type="submit" value="{% trans 'Log in' %}" class="btn btn-lg btn-primary btn-block" /></div>
<!--     <div class="col-xs-6"><input type="submit" value="{% trans 'Sign Up' %}" class="btn btn-lg btn-success btn-block" /></div> -->
    <div class="col-xs-6"><a href="{% url 'registration_register' %}" class="btn btn-lg btn-success btn-block" role="button">Registrati</a></div>
  </div>
  </div>
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#id_username').attr('autocapitalize', 'off').focus();
})
</script>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/bootstrap/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-table/bootstrap-table.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qrcode-0.12.0.js' %}"></script>
    <script src="{% static 'locale/bootstrap/bootstrap-table/bootstrap-table-it-IT.js' %}"></script>


    {% block javascripts %}
    {% endblock %}


</body>

</html>
