{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Inventario Unicam</title>
    <link href="{% static 'css/bootstrap/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-table/bootstrap-table.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-table/extensions/editable/bootstrap-editable.css'%}" rel="stylesheet">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static 'prova/showLocalDBTableColumns.css'%}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.qrcode-0.12.0.min.js' %}"></script>
</head>
<body>
<nav id="navbar1" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inventario Unicam</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'prova.views.index' %}">Home</a></li>
                <li><a href="#about">{% trans 'About' %}</a></li>
                <li><a href="#contact">{% trans 'Contact' %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="toolbar">
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-default"
                  onClick="location.href='{% url 'checkUpdate' %}'"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Aggiornamento Parziale"
                  >
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          </button>
          <button type="button"
                  class="btn btn-default"
                  onClick="location.href='{% url 'updateLocalDB' %}'"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Aggiornamento Completo"
                  >
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-default"
                  onClick="openDialog()"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Stampa codici QR selezionati"
                  >
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button"
                  class="btn btn-default"
                  onClick="showNewAccLocationDiv()"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Nuova posizione"
                  >
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </button>
        </div>
        <div id="newAccLocationDiv" class="btn-group" role="group" style="display:none">
            <div class="btn-group" role="group">
                <input type="text" class="form-control" id="newAccLocationText" placeholder="Nuova posizione...">
            </div>
            <div class="btn-group" role="group">
              <button type="button"
                      class="btn btn-default"
                      onClick="addLocation()"
                      >
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </button>
            </div>
        </div>
    </div>


    <table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[1, 10, 25, 50, 100, ALL]"
           data-show-footer="false"
           data-side-pagination="server"
           data-url="/prova/examples/bootstrap_table/data"
           data-response-handler="responseHandler">
    </table>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">QR CODE</h4>
                </div>
                <div class="modal-body">
                    <div id="qrcode">

                    </div>
                    <button type="button" onclick="printDiv(getIdSelections());">Stampa QR Code</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Upload picture -->
    <div id="uploadPictureModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Picture</h4>
                </div>
                <div class="modal-body">
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url "prova.views.uploadPicture" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.picture.label_tag }} {{ form.picture.help_text }}</p>
                        <p>
                            {{ form.picture.errors }}
                            <span class="btn btn-primary btn-file">
                                Scegli un Immagine... {{ form.picture }}
                            </span>
                            {{ form.id }}
                        </p>
                        <button type="submit" class="btn btn-default">Invia</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    var AccurateLocationsList = [];     // the list with the parsed JSON needed by the editable plugin
    var AccurateLocationsArray = [];    // the array containing key-value elements to display when the row is expanded

    // the function parse the JSON data in the above 2 formats
    getAccurateLocationList(AccurateLocationsList, AccurateLocationsArray);  

    var $table = $('#table'),
            selections = [];

    function initTable() {

        $table.bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    {
                        field: 'state',
                        checkbox: true,
                        align: 'center',
                        valign: 'middle'
                    },
                {
                        field: 'operate',
                        // title: 'Actions',
                        class: 'actions',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }, 
                {
                    field: 'id',
                    title: 'ID Locale',
                    class: 'id',
                    formatter: 'showSingleItem',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'item_id',
                    title: 'ID Remoto',
                    class: 'item_id',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'description',
                    title: 'Descrizione',
                    class: 'description',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'purchase_date',
                    title: 'Data di acquisto',
                    class: 'purchase_date',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'price',
                    title: 'Prezzo',
                    class: 'price',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'location',
                    title: 'Locazione',
                    class: 'location',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'accurate_location',
                    title: 'Posizione Precisa',
                    class: 'accurate_location',
                    editable: {
                        type: 'select',
                        inputclass: 'accurate-location-select',
                        source: AccurateLocationsList,
                        title: 'Posizione Precisa',
                        validate: function (value) {
                            value = $.trim(value);
                            if (!value) return 'This field is required';
                        },
                        url: '/prova/examples/bootstrap_table_editable/editAccurateLocation',
                        params: { csrfmiddlewaretoken:'{{csrf_token}}'},
                    },
                    sortable: true,
                    align: 'center'
                }, 
                {
                    field: 'depreciation_starting_date',
                    title: 'Data di inizio ammortamento',
                    class: 'depreciation_starting_date',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'residual_value',
                    title: 'Valore residuo',
                    class: 'residual_value',
                    sortable: true,
                    align: 'center'
                },
                ]
            ]
        });

        // sometimes footer render error.
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);

        // handler check, unckeck
        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {

            // save your data, here just save the current page
            selections = getIdSelections();
            // push or splice the selections if you want to save all data selections
        });
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
        });

        // resize handler
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    }

    // which rows are selected
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    // put the data in the table
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    // handles the text formattation when the row is open
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            // if we're displaying the accurate location we must match the id with the actual text value
            if (key == 'accurate_location') 
            {
                if (value != "None")
                    html.push('<p><b>' + key + ':</b> ' + AccurateLocationsArray[value] + '</p>');
                else
                    html.push('<p><b>' + key + ':</b> Empty </p>');
            }
            // we need to show the render the picture based on the filepath
            else if(key == 'picture')
                if ( value != "")
                    html.push('<p><b>' + key + ':</b></p><p><img style="max-width:100px;max-height:100px" src="/prova/media/' + value + '"></p>');
                else
                    html.push('<p><b>' + key + ': </b><b class="text-left text-danger">Foto non disponibile</b></p>');
            // we hide the state 
            else if (key == 'state'){}
            else
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }


    function operateFormatter(value, row, index) {
        return [
            '<a class="Picture" href="javascript:void(0)" title="upload a picture">',
            '<i class="glyphicon glyphicon-picture"></i>',
            '</a>  ',

            '<a class="QRcode" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-qrcode"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .Picture': function (e, value, row, index) {
            $('#id_id').val(row.id);
            $('#uploadPictureModal').modal();
        },
        'click .QRcode': function (e, value, row, index) {
            // alert('You click like action, row: ' + JSON.stringify(row));
            // makeQR(row.id);
            alert("makeQR " + row.id);
        }
    };

    function getHeight() {
        return $(window).height() - $('#navbar1').outerHeight(true);
    }

    function showSingleItem(value, row) {
        return "<a href='/prova/show/" + row.id + "'>" + value + "</a>";
    }

    $(function () {
        var scripts = [
                    location.search.substring(1) || 
                    "{% static 'js/bootstrap/bootstrap-table/bootstrap-table.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}",
                    "{% static 'js/bootstrap/bootstrap-table/extensions/editable/bootstrap-editable.js' %}"
                ],
                eachSeries = function (arr, iterator, callback) {
                    callback = callback || function () {
                            };
                    if (!arr.length) {
                        return callback();
                    }
                    var completed = 0;
                    var iterate = function () {
                        iterator(arr[completed], function (err) {
                            if (err) {
                                callback(err);
                                callback = function () {
                                };
                            }
                            else {
                                completed += 1;
                                if (completed >= arr.length) {
                                    callback(null);
                                }
                                else {
                                    iterate();
                                }
                            }
                        });
                    };
                    iterate();
                };

        eachSeries(scripts, getScript, initTable);
    });

    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;

        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function () {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();

                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };

        head.appendChild(script);

        // We handle everything using the script element injection
        return undefined;
    }

    var selected = [];
    var immagine = [];
    function openDialog() {
        $('#myModal').on('shown.bs.modal', function (e) {
            selected = getIdSelections();
            console.log(selected.toString());
            makeQR(selected);
        });
        $('#myModal').on('hidden.bs.modal', function (e) {
            $("#qrcode").empty();
        });

        $('#myModal').modal('show');

    }
    // function openOneDialog() {
    //     $('#myModal').on('shown.bs.modal', function (e) {
    //         makeQR(selected);
    //     });
    //     $('#myModal').on('hidden.bs.modal', function (e) {
    //         $("#qrcode").empty();
    //     });

    //     $('#myModal').modal('show');

    // }
    function printDiv(text) {
        var printContents = "" ;
        for(var i=0;i<immagine.length; i++)
        {
            printContents += immagine[i];
            i++;
            printContents += '</br>';
            printContents += immagine[i];
            printContents += '</br>';
        }
        console.log(printContents);
        document.body.innerHTML = printContents;

        window.print();
        window.location.reload();
    }

    function makeQR(text) {
        $("#qrcode").empty();
        immagine = [];
        img = [];
        for (var i = 0; i < text.length; i++) {
            var text1 = text[i];
            var url = document.location.origin + '/prova/show/'+ text1 +'/';
            console.log(url);
            jQuery(function () {
                        $("#qrcode").qrcode({
                            text: url,
                            render: 'canvas',
                            size: 200
                        });
                        var canvas = $('#qrcode canvas');
                        console.log(canvas);
                        var img1 = canvas.get(i).toDataURL('image/png');
                        immagine.push(text1);
                        immagine.push('<img src="' + img1 + '"/>');
                        console.log(immagine[i]);
                        //document.write('<img src="' + img + '"/>');
                    }
            );
        }
    }

    function getAccurateLocationList (ALL, ALA) {
        url = '/prova/examples/bootstrap_table_editable/getAccurateLocationList';
        items = [];
        $.ajax({ 
            type: 'GET', 
            url: url, 
            dataType: 'json',
            success: function (data) { 
                $.each(data, function(index, element) {
                        // alert("id= " + element.value + " value= " + element.text);
                        item = { value: element.value, text: element.text };
                        ALL.push(item);
                        ALA[element.value] = element.text;
                });
            }
        });
    }


    // mostra/nasconde l'input per aggiungere una nuova posizione
    function showNewAccLocationDiv () {
        if ($("#newAccLocationDiv").is(":visible")==false) $("#newAccLocationDiv").show();
        else $("#newAccLocationDiv").hide();
    }

    // chiamata ajax per salvare la nuova posizione nel DB ricarica la pagina al success per aggiornare la lista delle posizioni
    function addLocation () {
        // alert($("#newAccLocationText").val());
        newLocation = $("#newAccLocationText").val();
        $.ajax({
            type: "POST",
            url: '/prova/examples/bootstrap_table_editable/addAccurateLocation',
            data: ({ newLocation : newLocation, csrfmiddlewaretoken:'{{csrf_token}}' }),
            success: function(result) {
                // alert('Nuova posizione aggiunta');
                location.reload();
                // $('#table').bootstrapTable('refresh');
            },
            error: function() {
                alert('Error occured');
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>
